.cityheading{
    text-align: center;
    margin-top: 300px;
    
}
.centercity{
    border: 3px solid black;
    width: 200px;
    margin: auto;
    margin-top: 300px;
    
}
img{
    width: 300px;
}
.img2{
    display: block;
    margin: auto;
    
}
.img1{
    float: left;
}
.img3{
    float: right;
}
p{
    text-align: center;
}


